/* Reset de estilos para remover margens e preenchimentos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Cor de fundo cinza claro */
}

/* Estilos para o cabeçalho */
header {
    background-color: #007bff; /* Cor de fundo azul */
    color: #fff; /* Cor do texto branco */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.btn-home,
.btn-profile {
    text-decoration: none;
    color: #fff; /* Cor do texto branco */
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.btn-home:hover,
.btn-profile:hover {
    background-color: #0056b3; /* Cor de fundo azul mais escura ao passar o mouse */
}

/* Estilos para o título */
h1 {
    font-size: 24px;
    margin: 20px 0;
    color: #333; /* Cor do texto preto */
}

/* Estilos para o conteúdo principal */
main {
    padding: 20px;
}

/* Estilos para o container de anotações */
.note-container {
    background-color: #fff; /* Cor de fundo branca */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

/* Estilos para as notas */
.note {
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc; /* Cor da borda cinza claro */
    border-radius: 4px;
    font-size: 16px;
    min-height: 150px;
}

button {
    background-color: #007bff; /* Cor de fundo azul */
    color: #fff; /* Cor do texto branco */
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 40%;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3; /* Cor de fundo azul mais escura ao passar o mouse */
}