/* Reset de estilos para remover margens e preenchimentos padrão */
* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    
}

/* Estilos para o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Cor de fundo cinza claro */
    
    
}

/* Estilos para o cabeçalho */
header {
    background-color: #007bff; /* Cor de fundo azul */
    color: #fff; /* Cor do texto branco */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    
}

.btn {
    text-decoration: none;
    color: #fff; /* Cor do texto branco */
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3; /* Cor de fundo azul mais escura ao passar o mouse */
}

/* Estilos para o título */
h1 {
    font-size: 24px;
    margin-top: 20px;
    color: #333; /* Cor do texto preto */
    margin: 20px;
}

/* Estilos para o texto principal */
p {
    font-size: 16px;
    color: #555; /* Cor do texto cinza escuro */
    margin: 20px;
}

/* Estilos para a imagem */
.image img {
    max-width: 50%;
    height: auto;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    
    
}
